<div class="row">
<% @profiles.each do |profile| %>
  <div class="col-md-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <span class="panel-title"><%= link_to profile.email, profile %></span>
        <span class="pull-right">#<%= profile.id %></span>
        <%= link_to(profile, method: :delete, data: { confirm: t('menu.confirm') }, title: t('menu.delete')) do %>
          <span class="glyphicon glyphicon-remove white close" aria-hidden="true"></span>
        <% end %>
        <%= link_to(edit_profile_path(profile), title: t('menu.edit')) do %>
          <span class="glyphicon glyphicon-edit white close" aria-hidden="true"></span>
        <% end %>
      </div>
      <div class="panel-body">
        <%= profile.password %>
      </div>
    </div>
  </div>
<% end %>
</div>
