<div>
  <% if logged_in? %>
    <%= t('auth.currently', username: current_user.email) %> |

    <% if current_user.has_linked_github? %>
      <%= link_to t('auth.unlink_github'), delete_oauth_path('github'), method: :delete %>
    <% else %>
      <%= link_to t('auth.link_github'), auth_at_provider_path(provider: :github) %>
    <% end %> |

    <%= link_to t("auth.logout"), :logout, method: :delete %>
  <% else %>
    <%= link_to t('auth.login_github'), auth_at_provider_path(provider: :github) %>
  <% end %>
</div>
