<% if @to_remind == 0 %>
<div class="jumbotron">
  <h1><%= t('home.header') %></h1>
  <p><%= t('home.info') %></p>
  <ul>
  <% t('home.benefits').each_line do |benefit| %>
    <li><%= benefit %></li>
  <% end %>
  </ul>
  <p><a class="btn btn-primary btn-lg" href="#" role="button"><%= t('home.detail_btn') %></a></p>
</div>
<% end %>
<%= render "reminder" %>
