<%= form_for(card) do |f| %>
  <% if card.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
        <p><%= pluralize(card.errors.count, "error") %> prohibited
          this card from being saved:
        </p>
      <ul>
        <% card.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p class="form-group">
    <%= f.label :original_text, 'Оригинал' %>
    <%= f.text_field :original_text, class: 'form-control' %>
  </p>

  <p class="form-group">
    <%= f.label :translated_text, 'Перевод' %>
    <%= f.text_field :translated_text, class: 'form-control' %>
  </p>

  <p>
    <%= f.submit 'Сохранить', :class => 'btn btn-primary' %>
  </p>

<% end %>
