<% content_for :title do %>
<%= " | " + t( 'menu.all_cards' ) %>
<% end %>
<h1><%= t( "cards.#{params[:action]}.h1" ) %></h1>
<p><%= t( "cards.#{params[:action]}.total", count: @cards.count ) %></p>
<%= cards_to_review show_text: true %>

<%= render "cards", cards: @cards %>

<p><%= link_to t( 'menu.add_card' ), new_card_path %></p>
